config PHONELAB
	bool
	help
	  Hidden open that includes the Makefile located at
	  kernel/phonelab/Makefile.

choice
	prompt "Periodic Context Switch Tracing"
	default PERIODIC_CTX_SWITCH_TRACING_NONE
	help
	  Enable periodic event tracing of context switches.
	  These events are logged every 100ms.

config PERIODIC_CTX_SWITCH_TRACING_NONE
	bool "No Periodic Tracing"
	help
	  No tracing.

config PERIODIC_CTX_SWITCH_TRACING_ORIG
	select PERIODIC_CTX_SWITCH_TRACING
	bool "Original Tracing"
	help
	  Uses a fixed-size array per CPU.

config PERIODIC_CTX_SWITCH_TRACING_HASH
	select PERIODIC_CTX_SWITCH_TRACING
	bool "Hash based tracing"
	help
	  Uses a hash table implementation.

endchoice

config PERIODIC_CTX_SWITCH_TRACING
	bool
	help
	  Hidden option

config POST_FOREGROUND_PID
	select PHONELAB
	bool "Enable /proc/foreground"
	help
	  Enable /proc/foreground that Android publishes to to acquire
	  PID of the task that is in the foreground.

